/01_introduction/
/Tesis.pdf
/Tesis.acn
/Tesis.aux
/Tesis.bbl
/Tesis.blg
/Tesis.dvi
/Tesis.glo
/Tesis.lof
/Tesis.log
/Tesis.lot
/Tesis.out
/Tesis.ps
/Tesis.toc
/Tesis.xdy
/tempPartial00000.pdf
/tempPartial00000.tex
/tmp/
